.nav {
    display: flex;
    list-style: none;
    width: 40vw;
    justify-content: space-between;
}

#nav-link:visited {
    text-decoration: none;
    color: #EBDFCC;
}

#nav-link.active {
    color: #DB791A;
}

/* .navButton.active {
    color: #DB791A;
} */

@media (max-width: 589px) {
    .nav {
        flex-direction: column;
    }
}
