/* Navigation styles */

.nav {
  display: flex;
  list-style: none;
  width: 40vw;
  justify-content: space-between;
}

#nav-link:visited {
  text-decoration: none;
  color: #ebdfcc;
}

#nav-link.active {
  color: #db791a;
  display: flex;
  justify-content: end;
}

#nav-link {
  display: flex;
  justify-content: end;
}

@media (max-width: 589px) {
  .nav {
    flex-direction: column;
  }
}
