/* Header styles */

.headerParent {
  background-color: #322217;
  height: "20vh";
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

#header-text {
  font-size: xx-large;
  color: #ebdfcc;
}
